spring:
  datasource:
    url: jdbc:mysql://localhost:3306/hospital_db?createDatabaseIfNotExist=true&serverTimezone=UTC
    username: root
    password: hospital1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

server:
  port: 8081 # Changing to 8081 to avoid conflicts with other apps